node_modules
vendor

.git
.github

.env
.env.*
!.env.example

.phpunit.cache

tests

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

.DS_Store
Thumbs.db